*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    /* background: #969393; */
    letter-spacing: 0.2rem;
    font-size: 0.9rem;
    min-height: 100vh;
   background:linear-gradient( rgb(121, 205, 253) , rgb(199, 197, 197)) ;
 
  
}
.container{
 text-align: center;
 max-width: 400px;
 margin: 0 auto;


}
.container,.text {
    margin-top:2rem;
    color: rgb(143, 33, 33);
}
.chang-loction{
    display: flex;
    flex-direction: column;
}
.chang-loction label{
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.chang-loction input{
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(224, 219, 219);
    transition: all 1s;
    border-radius: 7px;
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
}
 .card .icon {
     position: absolute;
     top :50%;
     left: 50%;
     border-radius: 50%;
     background-color: rgb(168, 194, 252);
     transform: translate( -50%, -50% ) ;

 }

.text-details{
    text-transform: uppercase;
    /* background-color: rgb(218, 191, 191); */
   font-weight: bold;
    
}
.city-name{
    margin-top: 1rem;

}
.city-name,.weather-condition{
    padding: 0.5rem;
}

.display{
   padding: 1rem;
}
.display span{
    font-size: 30px;
}
footer{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.hiden{
    display: none;
}
.card{
 

}
.card .icon{
    justify-content: center;
}


 @media(max-width:400px){
    
     .container{
         width:300px;
         transition: all 1s;
     }
   .card .icon {
    top:50%
     }
     .chang-loction input{
     padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(224, 219, 219);
}

 }